teoria/xml/alumnos/alumnos.dtd

<!ELEMENT alumnos (alumno+)>
<!ELEMENT alumno (nombre, edad, grupo, dirreccion, asignaturas+)>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT edad (#PCDATA)>
<!ELEMENT grupo (#PCDATA)>
<!ELEMENT dirreccion (#PCDATA)>
<!ELEMENT asignaturas (asignatura+)>
<!ELEMENT asignatura (LM?, BD?, PROG?, FOL+)>
<!ELEMENT LM EMPTY>
<!ELEMENT BD EMPTY>
<!ELEMENT PROG EMPTY>
<!ELEMENT FOL EMPTY>